
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rubik&display=swap');

.homestyle{
      
        background: #131313;
}
.maincontent{
            position:absolute;
            top:150px;
             left: 200px;
            display: flex;
            
         width: 80%;
}
/* span {
        margin-left: 12%;
        margin-top: -23px !important;
        
} */
.spantext {
        margin-left: 72px;
        padding-top: -12px !important;
}
.main-text {
        /* border: 2px solid green; */
        padding-top: 12%;
        width: 100%;
        color: whitesmoke;
        margin-left: 10%;
}
.img-style {
        width: 411px;
       border:20px solid rgb(97, 96, 96);
       border-radius: 233px;
}
#box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 200px;
        color: white;
        font-family: 'Raleway';
        font-size: 2.5rem;
      }
      .gradient-border {
        --borderWidth: 3px;
        background: #1D1F20;
        position: relative;
        border-radius: var(--borderWidth);
      }
      .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
      }
      
    

   .btn-clr span{ 
        color: whitesmoke;
        width: 30% !important;
   }
   .btn-clr { 
           background-color: forestgreen;
        
            margin: auto;
           margin-left: 5%;
           margin-top: 2%;
           width: 20%;
   }
   .icons  {
      display: flex;
   }
   .icons .item {
    margin: 12px;
   }
   .icons .item img {
           width: 51px;
   }
   .main-text { 
 
   
   position: relative;
   -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */

   animation-duration: 4s;
 }
 
h1 , h2 {
        font-family: 'Rubik', sans-serif;
        font-family: 'IBM Plex Sans', sans-serif;
}
 

 #slideInleft {
        position: relative;
        left: -700px;
        width: 600px;
        -webkit-animation: slide 0.1s forwards;
        -webkit-animation-delay: 0s;
        animation: slide 1.11s forwards;
        animation-delay: 0.5s;
    }
    
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }
 #slideInRight {
        position: relative;
        right: -900px;
        /* width: 600px; */
        -webkit-animation: slide 0.1s forwards;
        -webkit-animation-delay: 0s;
        animation: rslide 1.11s forwards;
        animation-delay: 0.5s;
    }
    
    @-webkit-keyframes rslide {
        100% { right: 0; }
    }
    
    @keyframes rslide {
        100% { right:0; }
    }