 * {
     margin: 0%;
     padding: 0px;
 }   
 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
 .menustyle {
width: 100%;
height: 70px;
color: red;
background-color: black;
/* background: background:  */
}
.logo img{
    max-width: 20%;
}
.menustyle ul{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menustyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
}
.menustyle ul li a {
    color: white;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}